<%-include("partials/header")  %>
<link rel="stylesheet" href="/css/sobremi.css">
</head>
<body class="vh-100">
    
<%-include("partials/navbar")  %>




<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="text-center">Acerca de Mi</h1>
        </div>
    </div>
    
    <div class="row">
        <div class="col">
            <p>El mundo ha cambiado, es innegable. Y este cambio ha transformado a las sociedades.<br> 
                Si hace algunos años las empresas contrataban personal que esté capacitado, cuente con experiencia y compromiso con su trabajo, a estas cualidades hoy se ha añadido: creatividad, competencias para el trabajo en equipo, gestión del cambio y habilidades sociales.<br>
                Esto responde a las nuevas demandas laborales en las que predomina el trabajo por proyectos, colaborativo y por resultados, entre otros.
                Es por ello que para poder adaptarme mejor, me encuentro capacitando para adquirir estas habilidades es un reto que inicia de forma personal, pero que también involucra a las universidades ya que sus programas de estudio deben ir acordes a las nuevas exigencias laborales y potenciar la innovación, creatividad y emprendimiento para encajar en los perfiles profesionales que actualmente buscan las empresas.  
                También estudio por placer, es decir, por distracción o por hobby.<br>
                Me gusta aprender cosas nuevos y mantener la mente funcionando!<br>
            </p>
            <img src="https://st.focusedcollection.com/14026668/i/650/focused_173747406-stock-photo-woman-desk-using-laptop-working.jpg" alt="Descripción de la imagen">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h1 class="text-center">Mi Capacitación</h1>
        </div>
    </div>
    
    <div class="row">
        <div class="col">
            <p>Me estoy formando en la utilización de tecnologías de programación web, como Node.js, EJS, MySQL y Sequelize.<br>
                Para el Desarrollo de una interfaz intuitiva y funcional, la implementación de Bootstrap lo cual asegurará un 
                diseño responsivo y atractivo. También he aplicado CSS personalizado, lo que me permite ajustar el estilo y la 
                apariencia del foro de acuerdo con los requisitos y mis preferencias de diseño.<br>
                Así también he necesitado abordar cómo manejar la carga y visualización de imágenes, cómo guardar la información en una base de 
                datos individual y cómo presentar las publicaciones en la página para lograr una experiencia efectiva y atractiva para el 
                usuario.<br>
                Al elaborar esta app, como estudiante, he adquirido habilidades esenciales en diseño de interfaces, manejo de bases de datos y 
                programación web, permitiéndome crear una solución personalizada para satisfacer las necesidades de un persona en la 
                publicación de contenido multitemático en su foro individual.<br>
            </p>
            <img src="https://img-c.udemycdn.com/course/750x422/4368122_c5cd_2.jpg" alt="Descripción de la imagen">
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h1 class="text-center">Sobre este proyecto</h1>
        </div>
    </div>
    
    <div class="row">
        <div class="col">
            <p>Realización del Proyecto Integrador Final requerido por EPICA en el curso de Lenguajes de Programación I - Comisión 21523 A, 
                en el marco de Argentina Programa.<br>
                Modelo de Datos: El modelo de datos del foro consistirá en una tabla para los posts. El esquema del
                mismo es el siguiente:
                <ul>
                    <li>ID (Clave primaria, Autoincremental)</li>
                    <li>Título del post</li>
                    <li>Contenido del post</li>
                    <li>Link para visualizar una imagen del posteo (URL de la imagen)</li>
                    <li>Fecha de creación/li>
                </ul>
                Desarrollo de la Aplicación: Crear un nuevo directorio para el proyecto y configurar un archivo
                package.json utilizando el comando npm init. Instalar las dependencias. Configurar variables de entorno. 
                Crear rutas y controladores. Crear las vistas EJS.
                   <br>            
                <br>
            </p>
            <img src="https://www.clarin.com/2020/07/03/AZ6JzaNl2_1256x620__1.jpg" alt="Descripción de la imagen" width="600">
        </div>
    </div>

    
    
</div>

<script src="/js/sobremi.js" type="module"></script>

<%-include("partials/footer")  %>