* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}


*, *::before, *::after {
    box-sizing: inherit;
  }
  

body {
    display: grid;
    grid-template-rows: auto auto 20fr auto;
    color: rgb(34, 5, 102);
    background-color: bisque;
    margin-top: 60px;
}

.corner-button {
    font-family: 'Lato', sans-serif;
    letter-spacing: .02rem;
    cursor: pointer;
    background: transparent;
    border: 0.5rem solid currentColor;
    padding: 1.5rem 2rem;
    font-size: 2.2rem;
    color: #8e3bdb;
    position:relative ;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
    align-items: center;
  }
  .corner-button:hover {
    color:  rgb(34, 5, 102);
  }
  .corner-button:hover::before {
    width: 0;
  }
  .corner-button:hover::after {
    height: 0;
  }
  .corner-button:active {
    border-width: 0.25rem;
  }
  .corner-button span {
    position: relative;
    z-index: 2;
  }
  .corner-button::before, .corner-button::after {
    content: '';
    position: absolute;
    background: bisque ;
    z-index: 1;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .corner-button::before {
    width: calc(100% - 3rem);
    height: calc(101% + 1rem);
    top: -0.5rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .corner-button::after {
    height: calc(100% - 3rem);
    width: calc(101% + 1rem);
    left: -0.5rem;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }