* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background: #1D202B;
	color: #fff;
	font-family: 'Roboto', sans-serif;
    
}

body h1 {
	margin: 0;
	padding-bottom: 6rem;
	grid-column: 1;
	grid-row: 1;
	z-index: 1;
	font-family: 'Teko', sans-serif;
	font-size: 10rem;
	text-transform: uppercase;
	animation: glow 2s ease-in-out infinite alternate;
	text-align: center;
  }


.row {
	width: 90%;
	max-width: 1200px;
	margin: auto;
	padding: 40px 0;
    display: flex;
    gap: 20px;
	
}

.titulo {
	font-size: 24px;
	padding: 20px 0;
}

.lista-publicaciones {
	border-radius: 10px;
	min-height: 200px;
	font-weight: bold;
	padding: 20px;
	position: relative;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

	
}


.lista-publicaciones {
	border-radius: 10px;
	min-height: 200px;
	font-weight: bold;
	padding: 20px;
	position: relative;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

	
}

@keyframes glow {
	from {
	  text-shadow: 0 0 20px #2d9da9;
	}
	to {
	  text-shadow: 0 0 30px #34b3c1, 0 0 10px #4dbbc7;
	}
  }
